@font-face {
  font-family: "C64 Pro Mono Local";
  src: url("../fonts/C64_Pro_Mono-STYLE.ttf") format("truetype");
}
@font-face {
  font-family: "C64 Pro Local";
  src: url("../fonts/C64_Pro-STYLE.ttf") format("truetype");
}
@-moz-keyframes blink {
  from,
  to {
    color: #00C43A;
  }
  50% {
    color: black;
  }
}
@-webkit-keyframes blink {
  from,
  to {
    color: #00C43A;
  }
  50% {
    color: black;
  }
}
@keyframes blink {
  from,
  to {
    color: #00C43A;
  }
  50% {
    color: black;
  }
}
@-webkit-keyframes fall {
  0% {
    margin-top: 0 0;
  }
  100% {
    margin-top: 2000px;
  }
}
.hidden {
  display: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
button,
span,
div {
  font-family: "C64 Pro Mono Local";
}
body {
  font-family: "C64 Pro Mono Local";
  background: black;
  color: #00C43A;
}
header {
  padding: 80px 0;
}
header img {
  margin: 0 auto;
  position: fixed;
}
header.fall img:nth-child(1) {
  -o-animation: fall 1s ease-in;
  -moz-animation: fall 1s ease-in;
  -webkit-animation: fall 1s ease-in;
  animation: fall 1s ease-in;
  -o-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -o-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
header.fall img:nth-child(2) {
  -o-animation: fall 1s ease-in;
  -moz-animation: fall 1s ease-in;
  -webkit-animation: fall 1s ease-in;
  animation: fall 1s ease-in;
  -o-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -o-animation-delay: 200ms;
  -moz-animation-delay: 200ms;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
header.fall img:nth-child(3) {
  -o-animation: fall 1s ease-in;
  -moz-animation: fall 1s ease-in;
  -webkit-animation: fall 1s ease-in;
  animation: fall 1s ease-in;
  -o-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -o-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
header.fall img:nth-child(4) {
  -o-animation: fall 1s ease-in;
  -moz-animation: fall 1s ease-in;
  -webkit-animation: fall 1s ease-in;
  animation: fall 1s ease-in;
  -o-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -o-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
header.fall img:nth-child(5) {
  -o-animation: fall 1s ease-in;
  -moz-animation: fall 1s ease-in;
  -webkit-animation: fall 1s ease-in;
  animation: fall 1s ease-in;
  -o-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -o-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
header h1 {
  width: 400px;
  min-height: 200px;
}
header h1,
header h3 {
  margin: 20px auto;
}
header h3 {
  padding: 20px 0;
  width: 500px;
  text-align: left;
}
header h3 b {
  margin-left: 3px;
  -webkit-animation: 1.2s blink step-end infinite;
  -moz-animation: 1.2s blink step-end infinite;
  -o-animation: 1.2s blink step-end infinite;
  animation: 1.2s blink step-end infinite;
}
header h3 span:nth-child(2) {
  color: black;
}
nav {
  min-height: 100px;
  width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}
nav div {
  float: right;
  min-height: 100px;
}
nav button {
  margin-top: 40px;
  padding: 20px;
  color: #00C43A;
  border: 1px solid #00C43A;
  background: black;
  text-transform: uppercase;
  box-shadow: none;
  outline: none;
}
nav button.selected {
  border-color: #00912b;
  color: #00912b;
}
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px;
}
.content h2 {
  margin-bottom: 32px;
  font-size: 16px;
}
.content p {
  line-height: 20px;
  margin-bottom: 20px;
}
.content ul {
  list-style-type: none;
}
.content ul.photos {
  width: 100%;
  padding: 0;
}
.content ul.photos li {
  text-align: center;
  margin-bottom: 40px;
}
.content ul.gear {
  padding: 20px;
}
.content ul.gear label,
.content ul.gear span {
  float: left;
  margin-bottom: 10px;
}
.content ul.gear label {
  color: darkcyan;
  clear: left;
}
.content ul.gear span {
  display: block;
  clear: right;
}
.content img {
  max-width: 800px;
}
@media (min-width: 801px) {
  nav h2 {
    display: inline;
  }
  nav img {
    float: left;
  }
}
@media (max-width: 800px) {
  body {
    font-size: 13px;
  }
  header h1 {
    width: 300px;
  }
  header img {
    max-width: 300px;
  }
  header h3 {
    padding-left: 6px;
    width: 350px;
    font-size: 13px;
  }
  nav {
    width: 100%;
  }
  nav h2 {
    margin: 0 auto;
    float: none;
    width: 200px;
  }
  nav div {
    width: 100%;
    display: flex;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
  }
  nav button {
    flex-grow: 1;
    padding: 12px;
    font-size: 12px;
  }
  .content {
    padding: 0;
    margin-top: 80px;
  }
  .content ul.photos li {
    margin-bottom: 20px;
  }
  .content img {
    max-width: 400px;
  }
}
@media (max-width: 420px) {
  .content ul.photos img {
    max-width: 200px;
  }
}