@font-face {
    font-family: "C64 Pro Mono Local";
    src: url("../fonts/C64_Pro_Mono-STYLE.ttf") format("truetype");
}


@font-face {
    font-family: "C64 Pro Local";
    src: url("../fonts/C64_Pro-STYLE.ttf") format("truetype");
}

@font-main: "C64 Pro Mono Local";
@background: black;
@color: #00C43A;
@padding: 20px;
@logo-width: 400px;
@container-width: 800px;
@mobile-break: 800px;
@mobile-scale: 0.75;

@-moz-keyframes blink {
    from, to {
        color: @color;
    }

    50% {
        color: @background;
    }
}

@-webkit-keyframes blink {
    from, to {
        color: @color;
    }

    50% {
        color: @background;
    }
}

@keyframes blink {
    from, to {
        color: @color;
    }

    50% {
        color: @background;
    }
}

.blink() {
    @blink-rate: 1.2s;
    -webkit-animation: @blink-rate blink step-end infinite;
    -moz-animation: @blink-rate blink step-end infinite;
    -o-animation: @blink-rate blink step-end infinite;
    animation: @blink-rate blink step-end infinite;
}

@-webkit-keyframes fall {
    0% {
        margin-top: 0 0;
    }

    100% {
        margin-top: 2000px;
    }
}

.delay(@time) {

    -o-animation-delay: @time;
    -moz-animation-delay: @time;
    -webkit-animation-delay: @time;
    animation-delay: @time;

}

.fall(@time) {
   
    -o-animation: fall @time ease-in;
    -moz-animation: fall @time ease-in;
    -webkit-animation: fall @time ease-in;
    animation: fall @time ease-in;
    
    -o-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.hidden { display: none; }

body, h1, h2, h3, h4, h5, h6, button, span, div { font-family: "C64 Pro Mono Local"; }

body {
    font-family: @font-main;
    background: @background;
    color: @color;

    header {
        // text-align: center;
        padding: (4 * @padding) 0;

        img {
            margin: 0 auto;
            position: fixed;
        }

        &.fall img { 
            @fall-delay: 100ms;
            &:nth-child(1) { .fall(1s); .delay(1 * @fall-delay) }
            &:nth-child(2) { .fall(1s); .delay(2 * @fall-delay) }  
            &:nth-child(3) { .fall(1s); .delay(3 * @fall-delay) }     
            &:nth-child(4) { .fall(1s); .delay(4 * @fall-delay) }
            &:nth-child(5) { .fall(1s); .delay(5 * @fall-delay) }  
        }

        h1 {
            width: @logo-width;
            min-height: @logo-width / 2;
        }

        h1, h3 { margin: 20px auto; }

        h3 {
            padding: @padding 0;
            width: @logo-width + 100;
            //font-size: 14px;
            text-align: left;

            b {
                margin-left: 3px;
                .blink();
            }

            span {

                &:nth-child(2) {
                    color: @background;
                }
            }
        }
    }

    nav {
        min-height: 100px;
        width: @container-width;
        margin: 0 auto;
        padding: 20px 0;

        img { float: left; }
        span { float: right; min-height: 100px; }

        button {
            margin-top: 40px;
            padding: 20px;
            color: @color;
            border: 1px solid @color;
            background: @background;
            text-transform: uppercase;
            box-shadow: none;
            
            &.selected {
                border-color: darken(@color, 10%);
                color: darken(@color, 10%);

            }
        }
    }

    .content {
        max-width: @container-width;  
        margin: 0 auto;
        padding: 60px;
    }
}

@media (max-width: @mobile-break) {

    body {
        font-size: 13px;

        header {
            h1 { width: @logo-width * @mobile-scale;}
            img {
                max-width: @logo-width * @mobile-scale;
            }

            h3 {
                padding-left: 6px;
                width: (@logo-width * @mobile-scale) + 50;
                font-size: 13px;
            }
        }

        nav {
            width: 100%;
            h2 { margin: 0 auto; float: none; width: 200px; }
            span { 
                width: 100%;
                display: flex;
                margin: 0 auto;
                position: relative;
                margin-bottom: 40px;
            }

            button { 
                flex-grow: 1; 
                padding: 16px;
                font-size: 13px;
            }
        }

        .content {
            padding: 0;
            margin-top: 80px;
        }
    }
}
