@font-face {
  font-family: "C64 Pro Mono Local";
  src: url("../fonts/C64_Pro_Mono-STYLE.ttf") format("truetype");
}
@font-face {
  font-family: "C64 Pro Local";
  src: url("../fonts/C64_Pro-STYLE.ttf") format("truetype");
}
@-moz-keyframes blink {
  from,
  to {
    color: #00C43A;
  }
  50% {
    color: black;
  }
}
@-webkit-keyframes blink {
  from,
  to {
    color: #00C43A;
  }
  50% {
    color: black;
  }
}
@keyframes blink {
  from,
  to {
    color: #00C43A;
  }
  50% {
    color: black;
  }
}
body {
  font-family: "C64 Pro Mono Local";
  background: black;
  color: #00C43A;
}
body header {
  text-align: center;
  padding: 80px 0;
}
body header h3 {
  margin: 0 auto;
  padding: 20px 0;
  width: 480px;
  text-align: left;
}
body header h3 b {
  margin-left: 3px;
  -webkit-animation: 1.2s blink step-end infinite;
  -moz-animation: 1.2s blink step-end infinite;
  -o-animation: 1.2s blink step-end infinite;
  animation: 1.2s blink step-end infinite;
}
body header h3 span:nth-child(2) {
  color: black;
}
@media (max-width: 600px) {
  body header img {
    max-width: 300px;
  }
  body header h3 {
    padding-left: 6px;
    width: 350px;
    font-size: 13px;
  }
}