@import url('./vars.css');
@import url('./animations.css');
@import url('./breakpoints.css');

@font-face {
    font-family: "C64";
    src: url("../fonts/C64_Pro_Mono-STYLE.ttf") format("truetype");
}

html { height: 100vh; }

html, body {
    height: 100vh;
    margin: 0; padding: 0;
    overflow: hidden;
    overscroll-behavior: contain;
}

.hidden { display: none; }

body, h1, h2, h3, h4, h5, h6, button, span, div {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

button {
    text-transform: uppercase;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    background: black;
}

body {
    height: 100vh;
    /* font-family: "C64 Pro Mono Local"; */
    color: var(--color-bassamp-leds);
    background-color: var(--color-curtain-dark);
}

.curtain {
    overscroll-behavior: contain;
    overflow: hidden;
    perspective: 20vh;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.curtain div {

    overscroll-behavior: contain;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(var(--color-curtain-dark), var(--color-curtain-lite));
}

.curtain div:nth-child(1) {
    background: repeating-linear-gradient(90deg, 
        transparent 6%, 
        var(--color-curtain-lite) 12%, 
        var(--color-curtain-dark) 20%);
    transform: rotateX(3deg) translateZ(2vh);
}

.curtain div:nth-child(2) {
    background: linear-gradient(#000000d0 20%, #000000a0 60%, transparent);
}

button { border: none; }

header { 
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 72vh;
}

header div {
    flex: .6;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 48vw;
    max-height: 24vh;
    margin: 0 auto;
    position: fixed;
}

header:not(.fall) img {
    opacity: 0;
    animation: skewers .6s ease-in forwards;
}

header:not(.fall) img:nth-child(2) { animation-delay: calc(1 * var(--skewer-delay-factor)); }
header:not(.fall) img:nth-child(3) { animation-delay: calc(2 * var(--skewer-delay-factor)); }
header:not(.fall) img:nth-child(4) { animation-delay: calc(3 * var(--skewer-delay-factor)); }
header:not(.fall) img:nth-child(5) { animation-delay: calc(4 * var(--skewer-delay-factor)); }

header.fall img {
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

header.fall img:nth-child(1) {
    animation: fall 1.0s ease-in;
    animation-delay: 120ms;
}

header.fall img:nth-child(2) {
    animation: fall 1.0s ease-in;
    animation-delay: 240ms;
}

header.fall img:nth-child(3) {
    animation: fall 1.0s ease-in;
    animation-delay: 360ms;
}

header.fall img:nth-child(4) {
    animation: fall 1.0s ease-in;
    animation-delay: 480ms;
}

header.fall img:nth-child(5) {
    animation: fall 1.0s ease-in;
    animation-delay: 600ms;
}

header h1 {
   min-height: 20vh;
}

header h1, header h3 {
    margin: 20px auto;
}

header h3 {
    text-align: left;
    font-family: 'C64';
    font-size: 8pt;
}
header h3 b {
    margin-left: 3px;
    animation: 1.2s blink step-end infinite;
}
header h3 span:nth-child(2) {
    color: black;
}

header.fall h3 {
    animation: crt-collapse .48s ease-in forwards;
}

nav {
    height: 10vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

nav.open {
    /* margin-bottom: 15vh; */
    transform: rotate(360deg);
    transition: 240ms all;
}

nav > button {
    grid-column: 1;
    grid-row: 1;
}

nav > button {
    height: 10vh;
    width: 10vh;
    margin: auto;
    border-radius: 50%;
    background: radial-gradient(transparent 48%, var(--color-stand-rflect) 92%);
    transition: all 240ms;
    animation: fade-in 240ms;
    font-size: 22pt;
   
}

nav > button.menu-v {
    z-index: 1;
    padding-left: 2%;
    padding-top: 2%;
    border: 1px solid var(--color-bassamp-leds);
    /* border: none; */
}

nav > button > img {
    height: 72%;
    width: 72%;
}

nav:not(.open) > button:not(.menu-v) {
    opacity: 0;
    transition: 60ms all;
    height: 2vh;
    width: 2vh;
}

nav.open > button {
    /* border: 1px solid var(--color-rack-reflect);
    background: radial-gradient(transparent 48%, var(--color-cone-reflect) 92%);
    transition: all 240ms; */
}

nav.open > button:not(.menu-v) {
    opacity: 1;
    transition: 320ms all;
    height: 10vh;
    width: 10vh;
}

nav.open > button.menu-v {
    transform: rotate(-360deg);
    height: 10vh;
    width: 10vh;
    opacity: .6;
}

nav.open > button:not(:first-child) {

}

nav.open > button:nth-child(2) {
    transform: translateX(12vh);
}

nav.open > button:nth-child(3) {
    transform: translateY(-12vh);
}

nav.open > button:nth-child(4) {
    transform: translateX(-12vh);
}

nav.open > button:nth-child(5) {
    transform: translateY(12vh);
}

main:not(.hidden) > img {
    animation: fade-in 180ms linear forwards;
}

main:not(.hidden) > h2, main:not(.hidden) > h3, main:not(.hidden) h4  {
    animation: slide-in-left 240ms ease-in forwards;
}

main:not(.hidden) > p {
    animation: slide-in-right 240ms ease-in forwards;
}

main:not(.hidden) .orderSheet > * {
    animation: v-expand 240ms ease-in forwards;
}

div.content {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}

div.content > aside {
    height: 24vh;
    width: 100vw;
    bottom: 0;
    position: absolute;
    background: linear-gradient(transparent, #000000a0 60%);
}

main {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;

    overscroll-behavior: contain;
}

h2 {
    text-transform: uppercase;
    font-weight: 200;
    color: var(--color-stage-tape-2);
    font-size: 1.6em;
    line-height: 1.6em;
    margin: 8% 0 4% 0;
    border-bottom: 1px solid var(--color-stand-rflect);
}

main h3 {
    font-weight: 200;
    color: var(--color-bassamp-leds);
    font-size: 18pt;
    line-height: 36pt;
    border-bottom: 1px solid var(--color-stand-rflect);
    margin: 6% 0;
}
p {
    color: var(--color-stage-tape-1);
    padding: 0 12%;
    font-size: 1.1em;
}

main img.logo {
    width: 44vw;
    flex: .32;
}

ul {
    padding: 0;
    list-style-type: none;
}
ul.photos {
    width: 100%;
    padding: 0;
}
ul.photos li {
    width: 50%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}
ul.photos li.wide {
    width: 100%;
}
ul.photos li.wide img {
    max-width: 100%;
}
ul.gear {

}
ul.gear li {
    padding: 10px;
    border: 1px solid cyan;
    margin-bottom: 20px;
}
ul.gear div {
    clear: both;
    width: 100%;
    height: 24px;
}
ul.gear label,
ul.gear span {
    float: left;
}
ul.gear label {
    color: darkcyan;
    clear: left;
    width: 100px;
}
ul.gear span {
    display: block;
    clear: right;
    font-size: 11px;
}
ul.gear .name {
    color: yellow;
}
ul.gear .name span {
    font-size: 14px;
}
ul.gear .qty span {
    border: 1px solid #00C43A;
    height: 14px;
    padding-top: 2px;
    width: 36px;
    color: cyan;
    text-align: center;
}
ul.gear .description span {
    margin: 4px 0 14px 0;
}
ul.gear button {
    color: darkcyan;
    border: 1px solid #00C43A;
    min-width: 42px;
    float: left;
    font-size: 10px;
    height: 18px;
}
ul.gear button.selected {
    color: cyan;
    border: 1px solid #00C43A;
}

.orderSheet {
    width: 100vw;
    padding: 0 4%;
    box-sizing: border-box;
    margin-bottom: 12vh;
}
/* .orderSheet h3 {
    font-size: 16px;
    color: yellow;
} */
.orderSheet img {
    max-width: 100%;
}
div.gearphotos {
    width: 100%;
}
div.gearphotos img {
    max-height: 200px;
}
img {
    max-width: 380px;
}
button.order {
    width: 200px;
    padding: 20px;
    font-size: 14px;
    margin: 0 auto;
    color: #00C43A;
    background: black;
    border: 1px solid #00C43A;
}
.viewcart {
    margin: 30px;
}

.events h4 {
    margin: 2% 0;
}

.events p {
    margin: 1% 0;
}

main.game:not(.hidden) {
    min-height: 80vh;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

canvas {
    width: 90vw;
    height: 90vw;
    border: 1px solid var(--color-rack-reflect);
    perspective: 1%;
    background: var(--color-black);
    border-radius: 1%;
}

.game h2 {
    margin: 4% 0;
}

.game h3 {
    margin-top: 1%;
    margin-bottom: 4%;
}

.game p {

}